<div class="booking-cofirmation customize-container">
<h4>You have successfully booked <%= @booking.kitchen.name %> kitchen </h4>
<ul>
<li> Details of this booking:</li>
<li>Adress: <%= @booking.kitchen.address %> </li>
<li>Date: <%= @booking.date %></li>
<li>Price: <%= @booking.kitchen.price %> euro per hour</li>
</ul>
<img src="https://source.unsplash.com/random/?food" alt="random food" height = 200>
</div>
