<!-- 1. Display bookings for the kitchens this user wants to rent (I WANT TO DISPLAY IN EACH CARD INSIDE THE DASHBOARD: NAME OF THE KITCHEN, BOOKING DATE AND STATUS / NOT ANOTHER PAGE) -->
<!-- NOW THE LINK GOES TO THE SHOW PAGE AND WE CAN DO ANOTHER BOOKING OR THE SAME AGAIN / ALSO IS SAYING "KITCHEN" AND NOT KITCHEN NAME -->
<h2>My Bookings</h2>
<div>
  <ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= link_to kitchen_path(booking.kitchen) do %>
      <div>
        <%= booking.kitchen.name %>
        <%= booking.date %>
        <%= booking.status %>
      </div>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
